mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 I forogot my password
    label(for="email") Email
    input(type="emial" name="email")
    input.button(type="submit" value="Send a Reset")
